<a href="https://colab.research.google.com/github/lokeshkumarn/Notebooks/blob/master/NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import nltk

import pandas as pd
import numpy as np

In [0]:
df =pd.read_csv('ticket_Data.csv')

In [4]:
df.head()

   TicketId                                        Description
0         1                                         Job re-run
1         2                                         Job Re-Run
2         3  the job failed due to row count mismatch betwe...
3         4  Job got failed due to name pipe error. Then jo...
4         5  Job got failed due to duplicate issue. Then is...