<a href="https://colab.research.google.com/github/lokeshkumarn/Notebooks/blob/master/NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

#NLP
import string
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.probability import FreqDist

In [0]:
nltk.download()

In [0]:
df =pd.read_csv('ticket_Data.csv')

In [4]:
df.head()

   TicketId                                        Description
0         1                                         Job re-run
1         2                                         Job Re-Run
2         3  the job failed due to row count mismatch betwe...
3         4  Job got failed due to name pipe error. Then jo...
4         5  Job got failed due to duplicate issue. Then is...

**Tokenization**

In [0]:
df['Description'] = df['Description'].apply(word_tokenize)

In [11]:
df.head()

   TicketId                                        Description
0         1                                      [Job, re-run]
1         2                                      [Job, Re-Run]
2         3  [the, job, failed, due, to, row, count, mismat...
3         4  [Job, got, failed, due, to, name, pipe, error,...
4         5  [Job, got, failed, due, to, duplicate, issue, ...

In [0]:
df['Description'] = df['Description'].apply(lambda words:[w.lower() for w in words])

In [13]:
df.head()

   TicketId                                        Description
0         1                                      [job, re-run]
1         2                                      [job, re-run]
2         3  [the, job, failed, due, to, row, count, mismat...
3         4  [job, got, failed, due, to, name, pipe, error,...
4         5  [job, got, failed, due, to, duplicate, issue, ...

**Remove Stopwords**

In [0]:
english_stopwords = list(set(stopwords.words("english")))

In [19]:
english_stopwords[:10]

['ve',
 "wasn't",
 'isn',
 'down',
 'd',
 'doing',
 'between',
 'myself',
 'out',
 'same']

In [0]:
df['Description'] = df['Description'].apply(lambda words:[w for w in words if w not in english_stopwords])

In [21]:
df.head()

   TicketId                                        Description
0         1                                      [job, re-run]
1         2                                      [job, re-run]
2         3  [job, failed, due, row, count, mismatch, sourc...
3         4  [job, got, failed, due, name, pipe, error, ., ...
4         5  [job, got, failed, due, duplicate, issue, ., i...

**Remove Punctuation**

In [36]:
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [0]:
table = str.maketrans('', '', string.punctuation)

In [0]:
df['Description'] = df['Description'].apply(lambda words:[w.translate(table) for w in words])

In [0]:
df['Description'] = df['Description'].apply(lambda words:[w for w in words if w != ''])

**Frequency Distribution**

In [0]:
df['FDist'] = df['Description'].apply(lambda words:FreqDist(words))

In [47]:
df.head()

   TicketId  ...                                              FDist
0         1  ...                             {'job': 1, 'rerun': 1}
1         2  ...                             {'job': 1, 'rerun': 1}
2         3  ...  {'job': 2, 'failed': 1, 'due': 1, 'row': 1, 'c...
3         4  ...  {'job': 2, 'got': 1, 'failed': 1, 'due': 1, 'n...
4         5  ...  {'job': 2, 'got': 1, 'failed': 1, 'due': 1, 'd...

[5 rows x 3 columns]

In [58]:
list(filter(lambda x:x[1]>1 and x[1]<=4,df['FDist'][3].items()))

[('job', 2)]

In [0]:
df['FDist'] =df['FDist'].apply(lambda fd: list(filter(lambda x: x[1]>1 and x[1]<=4,fd.items())))